@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-7">
        <h2>Persons</h2>
        <div data-bind="template: { name: 'personListComponentTemplate', data: personList }"></div>
    </div>
    <div class="col-md-5">
        <div>
            <h3>Person Details</h3>
            <div data-bind="template: { name: 'personDetailsViewerComponentTemplate', data: personDetailsViewer.model }"></div>
        </div>

        <div>
            <h3>Player</h3>
        </div>

        <div>
            <h3>Add Button</h3>
        </div>

        <div>
            <h3>Activity Log</h3>
        </div>
    </div>
</div>

@Html.Partial("Person/PersonList")
@Html.Partial("Person/PersonDetailsViewer")

@section scripts
{
    <script type="text/javascript">
        var azureTestApp = window.azureTestApp || {};
        azureTestApp.params = azureTestApp.params || {};

        azureTestApp.params.personList = {
            getUrl: '@Url.Action("GetPersonList", "Person")'
        };

        azureTestApp.params.personDetailsViewer = {
            getUrl: '@Url.Action("GetPersonDetails", "Person")'
        };
    </script>

    @Scripts.Render("~/bundles/azureTestApp")
}